<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
<!-- 
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://ewout124.github.io/Samen-Onder-Handbereik/index">Home <span class="sr-only">(current)</span></a>
      </li>
-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Burgers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/burgers-sub1">Burgers - sub 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/burgers-sub2">Burgers - sub 2</a>
  	    </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ketenpartners
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/ketenpartners-sub1">Ketenpartners - sub 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/ketenpartners-sub2">Ketenpartners - sub 2</a>
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leveranciers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/leveranciers-sub1">Leveranciers - sub 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/leveranciers-sub2">Leveranciers - sub 2</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Over SOH
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/oversoh-sub1">Over SOH - sub 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://ewout124.github.io/Samen-Onder-Handbereik/oversoh-sub2">Over SOH - sub 2</a>
        </div>
      </li>
    </ul>
</div>
